html, 
body{
    height:100%;
    width:100%;
}

header{
    flex: 1;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    background-color: #89cff0;
}

h1{
    margin-bottom: 0px;
}

footer{
    flex:1;
    display: flex;
    justify-content:space-around;
    background-color: #89cff0;
}

h2{
    margin: 0px 0px 30px;
}

body{
    margin: 0px;
    display: flex;
    flex-direction:column;
}

main{
    flex:8;
    display: flex;
  }
  

form{
    flex: 1;
    width: 25%;
}


td{
    text-align: center;
    height: 2em;
    width: 2em;
    border:2px solid black;
}

input{
    width: 20em;   
}

input[type="number"]:invalid{
    background-color:#ffcccb;
}


fieldset{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    margin-top:10px;
}

button{
    margin:10px 0px;
}

#formHere{
    display: flex;
    flex:1;
    text-align:center;
}

#tableHere{
    display: block;
    height: 80vh;
    overflow: scroll;
    flex:3;
}